:host {
  display: block;
  
}

header {
  background-color: #01446a;
  nav {
    text-align: center;
    ul {
    position: relative;
    z-index: 0;
      display: inline-block;
      list-style: none;
      padding: 10px;
      border-radius: 50px;
      background-color: #002136;
      border: 2px solid #244a63;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
      li {
        display: inline-block;
        margin: 10px 0;
        z-index: 2;
        button {
          display: inline-block;
          padding: 10px 16px;
          color: #fff;
          background-color: transparent;
          border: none;
        }
      }
      .active-guesture {
          transition: all .2s;
        position: absolute;
        z-index: -1;
        width: 48px;
        height: 44px;
        transform: translateY(-50%);
        top: 50%;
        background-color: darkturquoise;
        box-shadow: -10px 10px 10px rgba(21, 195, 218, 0.4);
        left: 12px;
        border-radius: 50px;

      }
    }
  }
}
