<div class="graph-section-container">
    <div class="header-section">
        <h2>Sales</h2>
        <div class="time-switcher-container">
            <form>

                <label *ngFor="let tab of timeTabs" class="radio-container">
                    <span>{{tab}}</span>
                    <input (change)="toggleUi()" type="radio" name="timesteps" [value]="tab" [(ngModel)]="toggleValue" />
                    <span [ngClass]="{'toggle-active' : toggleValue === 'table'}" class="checkmark input-table"></span>
                  </label>
            </form>
        </div>
    </div>
    <div class="body-section">
        <div echarts [options]="options" class="demo-chart"></div>
    </div>
    <div class="footer-section">
        <button *ngFor="let paginator of paginators; let index=index" class="paginator" [ngClass]="{'active-paginator': index === paginatorIndex}" (click)="paginatorFun(index)"></button>
    </div>
</div>