<div class="graph-section-container">
    <div class="header-section">
        <h2>Sales</h2>
        <div class="time-switcher-container">
            <form>

                <label *ngFor="let tab of timeTabs" class="radio-container">
                    <span>{{tab}}</span>
                    <input (change)="toggleUi()" type="radio" name="timesteps" [value]="tab" [(ngModel)]="toggleValue" />
                    <span [ngClass]="{'toggle-active' : toggleValue === 'table'}" class="checkmark input-table"></span>
                  </label>
            </form>
        </div>
    </div>
    <div class="body-section">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slider">
                <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: containerData.nav.month.slides[0]}">
                </ng-container>
            </div>
            <!-- <div ngxSlickItem class="slider">
                <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: options}">
                </ng-container>
            </div> -->
    </ngx-slick-carousel>
    </div>
</div>