/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}


:root {
    --mainBlue: #024266;
    --mainBlueDark: #002949;
    --white: #ffffff;
    --lightGray: #D1DCDD;
    --redMainColor : #FF6F74;
    --primaryColor : #00B8D8;
    --primaryGradient :  linear-gradient(135deg, #5EE6E5 0%, #00BAD8 53.4%, #00B5D4 100%);
  }


  body {
      font-family: 'InterRegular';
  }

  .slick-dots
  {
      position: static !important;
      padding: 30px !important;
      background-color: var(--mainBlue);

      .slick-active button
      {
            background-color: var(--primaryColor) !important;
      }
  }
  .slick-dots li button
  {
      border: none;
      padding: 3px !important;
      border-radius: 50%;
      margin: 6px;
      background-color: var(--mainBlueDark) !important;
      width: 0 !important;
      height: 0 !important;
        &::before
        {
            content: none !important;
        }
  }